# HOW TO USE:
#
# 1 Add environment variables for the various stages here
# 2 Rename this file to env.yml and uncomment it's usage
#   in the serverless.yml.
# 3 Make sure to not commit this file.

dev:
  AWS_BUCKET: gtin-cloud-dev
  DEBUG: gtin-cloud
  EANDATA_KEY:
  IM_USER:
  IM_PASS:
  KWIKEE_KEY:

prod:
  AWS_BUCKET: gtin-cloud
  DEBUG: gtin-cloud
  EANDATA_KEY:
  IM_USER:
  IM_PASS:
  KWIKEE_KEY:

