# HOW TO USE:
#
# 1 Add environment variables for the various stages here
# 2 Rename this file to env.yml and uncomment it's usage
#   in the serverless.yml.
# 3 Make sure to not commit this file.

dev:
  IH_FALLBACK_URL: https://image.handler.com/fallback/url?q={gtin}
  AWS_BUCKET: my-bucket-dev
  DEBUG: gtin-cloud
  EANDATA_KEY:
  IM_USER:
  IM_PASS:
  KWIKEE_KEY:
  TESCO_KEY:
  DIGITEYES_APPKEY:
  DIGITEYES_AUTHKEY:
  CDN_BASE:
  QUEUE_PATH:
  SYNDIGO_URL:
  SYNDIGO_USERNAME:
  SYNDIGO_SECRET:
  SYNDIGO_DATAOWNERID:

prod:
  IH_FALLBACK_URL: https://image.handler.com/fallback/url?q={gtin}
  AWS_BUCKET: my-bucket
  DEBUG: gtin-cloud
  EANDATA_KEY:
  IM_USER:
  IM_PASS:
  KWIKEE_KEY:
  TESCO_KEY:
  DIGITEYES_APPKEY:
  DIGITEYES_AUTHKEY:
  CDN_BASE:
  QUEUE_PATH:
  SYNDIGO_URL:
  SYNDIGO_USERNAME:
  SYNDIGO_SECRET:
  SYNDIGO_DATAOWNERID:

