service: gtin-cloud

# Use the serverless-webpack plugin to transpile ES6
plugins:
  - serverless-webpack
  - serverless-offline

# serverless-webpack configuration
# Enable auto-packing of external modules
custom:
  webpack:
    webpackConfig: ./webpack.config.js
    includeModules: true
  serverless-offline:
    host: 0.0.0.0
    port: 5000
    corsAllowOrigin: "*"
    corsAllowHeaders: "Origin, X-Requested-With, Content-Type, Accept"

provider:
  name: aws
  runtime: nodejs14.x
  stage: ${opt:stage, 'dev'}
  region: us-east-1
  timeout: 29
  memorySize: 512
  apiGateway:
    shouldStartNameWithService: true
    apiKeys:
      - ${opt:stage, 'dev'}-key
      - ${opt:stage, 'dev'}-han
  iam:
    role:
      statements:
        - Effect: "Allow"
          Action:
            - "s3:*"
          Resource:
            - "*"
  # To load environment variables externally
  # rename env.example to env.yml and uncomment
  # the following line. Also, make sure to not
  # commit your env.yml.
  #
  environment: ${file(env.yml):${self:provider.stage}}

package:
  exclude:
    - node_modules/**
    - tests/**
    - .babelrc
    - .d*
    - .e*
    - .g*
    - .git/**
    - .DS_*
    - docker*.yml
    - run-*.sh

functions:
  storeHandler:
    handler: handler.storeHandler
    events:
      - http:
            method: post
            private: true
            path: store/{gtin}
            cors: true
            request:
              parameters:
                paths:
                  gtin: true
      - http:
            method: get
            private: true
            path: store/{gtin}
            cors: true
            request:
              parameters:
                paths:
                  gtin: true

  researchHandler:
    handler: handler.researchHandler
    events:
      - http:
            method: get
            private: true
            path: research/{vendor}
            cors: true
            request:
              parameters:
                paths:
                  vendor: true

  imageHandler:
    handler: handler.imageHandler
    events:
      - http:
            method: get
            private: true
            path: image/{gtin}
            cors: true
            request:
              parameters:
                paths:
                  gtin: true

  deleteHandler:
    handler: handler.deleteHandler
    events:
      - http:
            method: delete
            private: true
            path: delete/{gtin}
            cors: true
            request:
              parameters:
                paths:
                  gtin: true
